input[type=text], select {
    margin: 8px 0;
    display: inline-block;
    text-align: right;
    padding: 5px;
    font-weight: bold;
    box-sizing: border-box;
}


/*does not function proprely... work in progress*/


